<div class="card bg-base-100 shadow-xl w-96 p-5"  id="upload_result_<%= upload.id %>">
  <% if upload.files.attached? %>
    <% input_file = upload.files.first %>
    <% if input_file.content_type.start_with?('video/') %>
      <div class="flex flex-col h-full"
        <!-- Flex container for spacing elements -->
        <div class="flex flex-1 flex-col justify-between">
          <!-- input file Section -->
          <div class="flex flex-col items-center mb-4 space-y-2">
            <video controls class="w-32 h-32 object-cover border rounded mr-2">
              <source src="<%= rails_blob_path(input_file, disposition: "inline") %>" type="<%= input_file.content_type %>">
              Your browser does not support the video tag.
            </video>
            <!-- print out number of files -->
            <span class="text-sm text-gray-500"><%= upload.files.count %> files attached</span>
            <% if upload.files.count > 1 %>
              <% output_file = upload.files.second %>
              <div>
                <% begin %>
                  <% json_content = output_file.download %>
                  <% parsed_json = JSON.parse(json_content) %>
                  <% transcript = parsed_json['transcript']&.gsub(/\t/, '').strip  || 'No transcript key found' %>
                  <textarea rows="3" cols="10" readonly style="width: 100%; max-width: 600px; height: auto; text-align: left;" class="text-black"> <%= transcript %> </textarea>
                  <% rescue JSON::ParserError %>
                  <p>Invalid JSON file.</p>
                <% end %>
              </div>
            <% end %>
          </div>
          <!-- Filename Section -->
          <h2 class="card-title text-lg font-semibold mb-4 text-center justify-center"><%= input_file.filename.to_s %></h2>
          <!-- Details Button Section -->
          <div class="text-center">
            <%= link_to "Details", upload_path(upload), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
